@font-face {
  font-family: skyFont;
  src: url('../fonts/Sky_Reg.ttf') format('truetype');
}

body{
    padding:15px;
    font-family: skyFont,'OpenSansRegular', "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.team-logo{
    height: 60px;
    width: 280px;
    text-align: center;
    font-family: skyFont,'OpenSansRegular', "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding: 5px 0;
}

.red{
    color: #ad0d0d;
}

.blue{
    color: #0a3da1;
}

.green{
    color: #128c16;
}

.yellow{
    color: #c9ad15;
}
