@font-face {
  font-family: skyFont;
  src: url('../fonts/Sky_Reg.ttf') format('truetype');
}

body{
    padding:15px;
    font-family: skyFont,'OpenSansRegular', "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.team-logo{
    height: 50px;
    width: 140px;
    text-align: center;
    font-family: skyFont,'OpenSansRegular', "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding: 5px 0;
    border: solid 2px #B3ACAC;
    border-radius: 20px;
}

.red{
    color: #ad0d0d;
    background: rgba(255, 0, 0, 0.05);
}

.blue{
    color: #0a3da1;
    background: rgba(0, 67, 255, 0.05);
}

.green{
    color: #128c16;
    background: rgba(4, 255, 0, 0.05);
}

.yellow{
    color: #c9ad15;
    background: rgba(251, 255, 0, 0.05);
}

.last-commit{
    display: inline-block;
    margin-left: 20px;
}
